# **Apriori Algorithm without using Standard libraries**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/GroceryStoreDataSet.csv", header=None)

In [ ]:
m_arr = []
arr = []

In [ ]:
len(df)

20

In [ ]:
for i in range (0,20):
  temp=df[0][i].split(",")
  for j in range (0,len(temp)):
    arr.append(temp[j])
  m_arr.append(arr)
  arr=[]

In [ ]:
init = []
for i in m_arr:
    for q in i:
        if(q not in init):
            init.append(q)

print(init)

['MILK', 'BREAD', 'BISCUIT', 'CORNFLAKES', 'TEA', 'BOURNVITA', 'JAM', 'MAGGI', 'COFFEE', 'COCK', 'SUGER']

In [ ]:
init=sorted(init)
init

['BISCUIT',
 'BOURNVITA',
 'BREAD',
 'COCK',
 'COFFEE',
 'CORNFLAKES',
 'JAM',
 'MAGGI',
 'MILK',
 'SUGER',
 'TEA']

In [ ]:
#Setting minimum support =2

In [ ]:
s=2

In [ ]:
#Apriori Algorithm

In [ ]:
from collections import Counter
c = Counter()
for i in init:
    for d in m_arr:
        if(i in d[1]):
            c[i]+=1
print("C1:")
for i in c:
    print(str([i])+": "+str(c[i]))
print()
l = Counter()
for i in c:
    if(c[i] >= s):
        l[frozenset([i])]+=c[i]
print("L1:")
for i in l:
    print(str(list(i))+": "+str(l[i]))
print()
pl = l
pos = 1
for count in range (2,6):
    nc = set()
    temp = list(l)
    for i in range(0,len(temp)):
        for j in range(i+1,len(temp)):
            t = temp[i].union(temp[j])
            if(len(t) == count):
                nc.add(temp[i].union(temp[j]))
    nc = list(nc)
    c = Counter()
    for i in nc:
        c[i] = 0
        for q in m_arr:
            temp = set(q)
            if(i.issubset(temp)):
                c[i]+=1
    print("C"+str(count)+":")
    for i in c:
        print(str(list(i))+": "+str(c[i]))
    print()
    l = Counter()
    for i in c:
        if(c[i] >= s):
            l[i]+=c[i]
    print("L"+str(count)+":")
    for i in l:
        print(str(list(i))+": "+str(l[i]))
    print()
    if(len(l) == 0):
        break
    pl = l
    pos = count
print("Result: ")
print("L"+str(pos)+":")
for i in pl:
    print(str(list(i))+": "+str(pl[i]))
print()

C1:
['BREAD']: 2
['COCK']: 2
['COFFEE']: 3
['MAGGI']: 2
['MILK']: 3
['SUGER']: 4
['TEA']: 4

L1:
['BREAD']: 2
['COCK']: 2
['COFFEE']: 3
['MAGGI']: 2
['MILK']: 3
['SUGER']: 4
['TEA']: 4

C2:
['COCK', 'COFFEE']: 3
['COFFEE', 'MAGGI']: 0
['MILK', 'MAGGI']: 1
['COCK', 'MAGGI']: 0
['SUGER', 'MAGGI']: 0
['COFFEE', 'MILK']: 1
['MILK', 'SUGER']: 0
['MILK', 'TEA']: 1
['COCK', 'MILK']: 0
['COFFEE', 'SUGER']: 4
['TEA', 'MAGGI']: 4
['SUGER', 'BREAD']: 4
['COCK', 'TEA']: 0
['COFFEE', 'TEA']: 1
['COFFEE', 'BREAD']: 3
['TEA', 'BREAD']: 4
['COCK', 'SUGER']: 0
['MILK', 'BREAD']: 4
['COCK', 'BREAD']: 1
['MAGGI', 'BREAD']: 3
['TEA', 'SUGER']: 0

L2:
['COCK', 'COFFEE']: 3
['COFFEE', 'SUGER']: 4
['TEA', 'MAGGI']: 4
['SUGER', 'BREAD']: 4
['COFFEE', 'BREAD']: 3
['TEA', 'BREAD']: 4
['MILK', 'BREAD']: 4
['MAGGI', 'BREAD']: 3

C3:
['COFFEE', 'BREAD', 'SUGER']: 2
['COCK', 'COFFEE', 'SUGER']: 0
['SUGER', 'TEA', 'BREAD']: 0
['COFFEE', 'TEA', 'BREAD']: 0
['MAGGI', 'MILK', 'BREAD']: 1
['TEA', 'MILK', 'BREAD']: 0
['COCK', 'COFFEE', 'BREAD']: 1
['SUGER', 'MILK', 'BREAD']: 0
['COFFEE', 'MAGGI', 'BREAD']: 0
['SUGER', 'MAGGI', 'BREAD']: 0
['TEA', 'BREAD', 'MAGGI']: 2
['COFFEE', 'MILK', 'BREAD']: 0

L3:
['COFFEE', 'BREAD', 'SUGER']: 2
['TEA', 'BREAD', 'MAGGI']: 2

C4:

L4:

Result:
L3:
['COFFEE', 'BREAD', 'SUGER']: 2
['TEA', 'BREAD', 'MAGGI']: 2

In [ ]:
#Finding the association rules for the subsets

In [ ]:
from itertools import combinations
for l in pl:
    c = [frozenset(q) for q in combinations(l,len(l)-1)]
    mmax = 0
    for a in c:
        b = l-a
        ab = l
        sab = 0
        sa = 0
        sb = 0
        for q in m_arr:
            temp = set(q)
            if(a.issubset(temp)):
                sa+=1
            if(b.issubset(temp)):
                sb+=1
            if(ab.issubset(temp)):
                sab+=1
        temp = sab/sa*100
        if(temp > mmax):
            mmax = temp
        temp = sab/sb*100
        if(temp > mmax):
            mmax = temp
        print(str(list(a))+" -> "+str(list(b))+" = "+str(sab/sa*100)+"%")
        print(str(list(b))+" -> "+str(list(a))+" = "+str(sab/sb*100)+"%")

    for a in c:
        b = l-a
        ab = l
        sab = 0
        sa = 0
        sb = 0
        for q in m_arr:
            temp = set(q)
            if(a.issubset(temp)):
                sa+=1
            if(b.issubset(temp)):
                sb+=1
            if(ab.issubset(temp)):
                sab+=1
        temp = sab/sa*100
        
    print()
    print()

['COFFEE', 'BREAD'] -> ['SUGER'] = 66.66666666666666%
['SUGER'] -> ['COFFEE', 'BREAD'] = 33.33333333333333%
['COFFEE', 'SUGER'] -> ['BREAD'] = 50.0%
['BREAD'] -> ['COFFEE', 'SUGER'] = 15.384615384615385%
['SUGER', 'BREAD'] -> ['COFFEE'] = 50.0%
['COFFEE'] -> ['SUGER', 'BREAD'] = 25.0%


['BREAD', 'TEA'] -> ['MAGGI'] = 50.0%
['MAGGI'] -> ['BREAD', 'TEA'] = 40.0%
['MAGGI', 'TEA'] -> ['BREAD'] = 50.0%
['BREAD'] -> ['MAGGI', 'TEA'] = 15.384615384615385%
['MAGGI', 'BREAD'] -> ['TEA'] = 66.66666666666666%
['TEA'] -> ['MAGGI', 'BREAD'] = 28.57142857142857%

# **Apriori Algorithm using standard libraries**

In [ ]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
m_arr

[['MILK', 'BREAD', 'BISCUIT'],
 ['BREAD', 'MILK', 'BISCUIT', 'CORNFLAKES'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['JAM', 'MAGGI', 'BREAD', 'MILK'],
 ['MAGGI', 'TEA', 'BISCUIT'],
 ['BREAD', 'TEA', 'BOURNVITA'],
 ['MAGGI', 'TEA', 'CORNFLAKES'],
 ['MAGGI', 'BREAD', 'TEA', 'BISCUIT'],
 ['JAM', 'MAGGI', 'BREAD', 'TEA'],
 ['BREAD', 'MILK'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'COCK', 'BISCUIT', 'CORNFLAKES'],
 ['COFFEE', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'COCK'],
 ['BREAD', 'SUGER', 'BISCUIT'],
 ['COFFEE', 'SUGER', 'CORNFLAKES'],
 ['BREAD', 'SUGER', 'BOURNVITA'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['BREAD', 'COFFEE', 'SUGER'],
 ['TEA', 'MILK', 'COFFEE', 'CORNFLAKES']]

In [ ]:
te =TransactionEncoder()
te_data =te.fit(m_arr).transform(m_arr)
df = pd.DataFrame(te_data,columns =te.columns_)
print(df)

    BISCUIT  BOURNVITA  BREAD   COCK  COFFEE  CORNFLAKES    JAM  MAGGI   MILK  \
0      True      False   True  False   False       False  False  False   True
1      True      False   True  False   False        True  False  False   True
2     False       True   True  False   False       False  False  False  False
3     False      False   True  False   False       False   True   True   True
4      True      False  False  False   False       False  False   True  False
5     False       True   True  False   False       False  False  False  False
6     False      False  False  False   False        True  False   True  False
7      True      False   True  False   False       False  False   True  False
8     False      False   True  False   False       False   True   True  False
9     False      False   True  False   False       False  False  False   True
10     True      False  False   True    True        True  False  False  False
11     True      False  False   True    True        True  False  False  False
12    False       True  False  False    True       False  False  False  False
13    False      False   True   True    True       False  False  False  False
14     True      False   True  False   False       False  False  False  False
15    False      False  False  False    True        True  False  False  False
16    False       True   True  False   False       False  False  False  False
17    False      False   True  False    True       False  False  False  False
18    False      False   True  False    True       False  False  False  False
19    False      False  False  False    True        True  False  False   True

    SUGER    TEA
0   False  False
1   False  False
2   False   True
3   False  False
4   False   True
5   False   True
6   False   True
7   False   True
8   False   True
9   False  False
10  False  False
11  False  False
12   True  False
13  False  False
14   True  False
15   True  False
16   True  False
17   True  False
18   True  False
19  False   True

In [ ]:
df.to_csv('df.csv')

In [ ]:
df1=apriori(df,min_support=0.01,use_colnames= True)
print(df1)

    support                             itemsets
0      0.35                            (BISCUIT)
1      0.20                          (BOURNVITA)
2      0.65                              (BREAD)
3      0.15                               (COCK)
4      0.40                             (COFFEE)
..      ...                                  ...
78     0.05         (TEA, MAGGI, BISCUIT, BREAD)
79     0.10  (COCK, COFFEE, CORNFLAKES, BISCUIT)
80     0.05            (MAGGI, MILK, JAM, BREAD)
81     0.05             (TEA, MAGGI, JAM, BREAD)
82     0.05      (COFFEE, CORNFLAKES, MILK, TEA)

[83 rows x 2 columns]

In [ ]:
df_ar =association_rules(df1,metric ='confidence',min_threshold=0.5)
print(df_ar)

            antecedents           consequents  antecedent support  \
0             (BISCUIT)               (BREAD)                0.35
1                (COCK)             (BISCUIT)                0.15
2          (CORNFLAKES)             (BISCUIT)                0.30
3           (BOURNVITA)               (BREAD)                0.20
4           (BOURNVITA)               (SUGER)                0.20
..                  ...                   ...                 ...
141      (COFFEE, MILK)     (CORNFLAKES, TEA)                0.05
142       (COFFEE, TEA)    (CORNFLAKES, MILK)                0.05
143  (CORNFLAKES, MILK)         (COFFEE, TEA)                0.10
144   (CORNFLAKES, TEA)        (COFFEE, MILK)                0.10
145         (MILK, TEA)  (COFFEE, CORNFLAKES)                0.05

     consequent support  support  confidence       lift  leverage  conviction
0                  0.65     0.20    0.571429   0.879121   -0.0275    0.816667
1                  0.35     0.10    0.666667   1.904762    0.0475    1.950000
2                  0.35     0.15    0.500000   1.428571    0.0450    1.300000
3                  0.65     0.15    0.750000   1.153846    0.0200    1.400000
4                  0.30     0.10    0.500000   1.666667    0.0400    1.400000
..                  ...      ...         ...        ...       ...         ...
141                0.10     0.05    1.000000  10.000000    0.0450         inf
142                0.10     0.05    1.000000  10.000000    0.0450         inf
143                0.05     0.05    0.500000  10.000000    0.0450    1.900000
144                0.05     0.05    0.500000  10.000000    0.0450    1.900000
145                0.20     0.05    1.000000   5.000000    0.0400         inf

[146 rows x 9 columns]