In [ ]:
# Data Manipulation libraries:
import io
import numpy as np
import pandas as pd
from google.colab import files

In [ ]:
df = files.upload()

Saving olap_exp2.csv to olap_exp2.csv

In [ ]:
df = pd.read_csv("/content/olap_exp2.csv", encoding= 'unicode_escape')

In [ ]:
df

,Row ID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,21-01-2014,23-01-2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,04-05-2017,09-05-2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [ ]:
df['year']=pd.to_datetime(df['OrderDate']).dt.year
df['month']=pd.to_datetime(df['OrderDate']).dt.month
df

,Row ID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,year,month
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016,8
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016,8
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016,12
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015,11
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2015,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,21-01-2014,23-01-2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028,2014,1
9990,9991,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332,2017,2
9991,9992,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932,2017,2
9992,9993,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200,2017,2
9993,9994,CA-2017-119914,04-05-2017,09-05-2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480,2017,4

#2.	Need to see monthly, quarterly, yearly profit, sales of each category region wise.

In [ ]:
table = pd.pivot_table(df,values=['Sales','Profit'],index=['year','month','Category','Sub-Category','Region'],aggfunc = np.sum)
table

                                               Profit     Sales
year month Category   Sub-Category Region
2014 1     Furniture  Bookcases    Central    39.7488   141.960
                                   East      -53.2856    61.960
                                   West     -313.2480   806.135
                      Chairs       Central  1063.0450  6480.124
                                   East      -51.9840   909.720
...                                               ...       ...
2017 12    Technology Machines     South     232.7850   599.970
                      Phones       Central    55.9698   490.216
                                   East       84.0376  1622.808
                                   South     172.0158   585.450
                                   West      131.5244  1560.696

[2572 rows x 2 columns]

#3.	Comparison of sales and profit on various year.

In [ ]:
cube=pd.pivot_table(df,values=['Sales','Profit'],index=['year'], aggfunc = np.sum)
cube

          Profit        Sales
year
2014  49543.9741  484247.4981
2015  61618.6037  470532.5090
2016  81795.1743  609205.5980
2017  93439.2696  733215.2552

#4. Comparison of sales in various months for product name =x.

In [ ]:
x = input("Enter the product name : ")
sales_comp = pd.pivot_table(df[df['Product Name'] == x], values='Sales', index=['month'], columns=['year'], aggfunc = np.sum)
sales_comp

Enter the product name : 3M Office Air Cleaner

year     2015    2017
month
7         NaN  155.88
12     103.92     NaN

#5.	Need to know which product has more demand on which location?

In [ ]:
x = input("Enter the product name : ")
demand=pd.pivot_table(df[df['Product Name'] == x],values='Sales',index=['year','month','State','City'],columns=['Region'], aggfunc = np.sum)
demand

Enter the product name : Home/Office Personal File Carts

Region                                 Central    East  South    West
year month State        City
2015 11    Illinois     Chicago        250.272     NaN    NaN     NaN
2016 5     California   San Francisco      NaN     NaN    NaN  104.28
     6     New York     Troy               NaN  208.56    NaN     NaN
     7     Washington   Seattle            NaN     NaN    NaN   69.52
     9     Rhode Island Providence         NaN   69.52    NaN     NaN
2017 9     Washington   Seattle            NaN     NaN    NaN  104.28
     11    Mississippi  Jackson            NaN     NaN  173.8     NaN

#6.	Need to study trend of sales by time period of the day over the month, and year?

In [ ]:
trends=pd.pivot_table(df,values='Sales',index=['year','month'], aggfunc = np.sum)
trends

                 Sales
year month
2014 1      28953.7060
     2      12743.1080
     3      54801.9060
     4      24710.0160
     5      29639.8340
     6      29287.0306
     7      35341.2460
     8      37854.5475
     9      66110.2238
     10     34561.9470
     11     64817.6185
     12     65426.3147
2015 1      29347.3864
     2      20728.3520
     3      40876.6112
     4      38056.9685
     5      30933.7145
     6      28862.1982
     7      28730.3760
     8      50094.5280
     9      66729.3290
     10     32025.0750
     11     50732.3090
     12     53415.6612
2016 1      38048.1840
     2      49238.4100
     3      49612.0450
     4      45192.2780
     5      64964.3218
     6      38991.9430
     7      42773.3950
     8      46339.9884
     9      41985.1423
     10     52268.1500
     11     66837.5850
     12     72954.1555
2017 1      64734.3110
     2      50011.4894
     3      74774.0838
     4      39072.0016
     5      40882.4464
     6      47742.3255
     7      54382.0875
     8      75675.3040
     9      74164.6080
     10     65501.1622
     11     89306.2400
     12     56969.1958

#7.	What is sale of  product category wise, city wise for year=2015

In [ ]:
yr = int(input("Enter the year : "))
yearly=pd.pivot_table(df[df['year'] == yr],values='Sales',index=['month','City','Category','Product Name'], aggfunc = np.sum)
yearly

Enter the year : 2016

                                                                                        Sales
month City       Category        Product Name
1     Amarillo   Office Supplies Easy-staple paper                                     48.000
                 Technology      Imation 16GB Mini TravelDrive USB 2.0 Flash Drive     79.512
      Arlington  Office Supplies X-Rack File for Hanging Folders                       56.450
      Atlanta    Office Supplies #10 White Business Envelopes,4 1/8 x 9 1/2           125.360
                                 Fellowes PB500 Electric Punch Plastic Comb Bind...  1270.990
...                                                                                       ...
12    Wilmington Technology      KLD Oscar II Style Snap-on Ultra Thin Side Flip...    68.040
      Wilson     Office Supplies Fellowes Bankers Box Recycled Super Stor/Drawer      129.552
                                 Fellowes Bankers Box Staxonsteel Drawer File/St...    51.984
                                 TOPS "Important Message" Pads, Canary, 4-1/4 x ...    10.272
      Woodstock  Furniture       Global Manager's Adjustable Task Chair, Storm        845.488

[2576 rows x 1 columns]

#8.	What is sales of product categories  of Jan  month of each year?

In [ ]:
month = int(input("Enter the month number : "))
monthly=pd.pivot_table(df[df['month'] == month],values=['Sales'],index=['year','Category', 'Product Name'],aggfunc=np.sum)
monthly

#9.	What is trend of sales on year 2014 and 2015 for product category furniture and technology?

In [94]:
trend_year = pd.pivot_table(df, values=['Sales'], index=['year'], columns = ['Category'], aggfunc=np.sum)
trend_year

                Sales
Category    Furniture Office Supplies  Technology
year
2014      157192.8531      151776.412  175278.233
2015      170518.2370      137233.463  162780.809
2016      198901.4360      183939.982  226364.180
2017      215387.2692      246097.175  271730.811

#10.	Need to compare weekly, monthly and yearly sales to know growth.

In [ ]:
growth = pd.pivot_table(df,values=['Sales'],index=['year','Category'], columns = ['month'],aggfunc = np.sum)
growth

                           Sales                                      \
month                         1           2           3           4
year Category
2014 Furniture        12106.2700   1739.3300  14412.0580   6827.1800
     Office Supplies   8446.9560   4806.9900   7418.0460   8457.3060
     Technology        8400.4800   6196.7880  32971.8020   9425.5300
2015 Furniture        19024.6324   8049.9830  13655.3802  10119.2445
     Office Supplies   3332.2940   5848.7130  17429.3650  12627.3180
     Technology        6990.4600   6829.6560   9791.8660  15310.4060
2016 Furniture         9203.4940   7469.4470  18334.2190  11713.1630
     Office Supplies  16285.4560   8906.5290  20921.7120  10018.8670
     Technology       12559.2340  32862.4340  10356.1140  23460.2480
2017 Furniture        17590.7140  16798.9664  15541.3878  11702.1636
     Office Supplies  23972.7280  14727.4890  18531.4840   9896.4050
     Technology       23170.8690  18485.0340  40701.2120  17473.4330

                                                                      \
month                         5           6           7           8
year Category
2014 Furniture         5856.8620  10401.0066  12026.5700  12400.0945
     Office Supplies  16187.7720  10690.3450  16114.4820   8668.9010
     Technology        7595.2000   8195.6790   7200.1940  16785.5520
2015 Furniture        12533.9905   8322.2182  12467.7390  13598.3490
     Office Supplies  11071.1340  10958.8600   6238.4470  12297.3970
     Technology        7328.5900   9581.1200  10024.1900  24198.7820
2016 Furniture        22573.3568  10508.7630  12629.4560  22341.8874
     Office Supplies  16503.0510  11316.3190  12502.1660  11282.1910
     Technology       25887.9140  17166.8610  17641.7730  12715.9100
2017 Furniture        10252.8464  16963.8415  14045.9405  21234.7520
     Office Supplies  14440.1340  15167.2600  14282.1510  36076.8160
     Technology       16189.4660  15611.2240  26053.9960  18363.7360


month                         9           10          11          12
year Category
2014 Furniture        16038.8908  13919.1210  21062.4575  30403.0127
     Office Supplies  25701.7530   7808.6400  22777.8070  14697.4140
     Technology       24369.5800  12834.1860  20977.3540  20325.8880
2015 Furniture        27243.9180  10975.4140  19923.5850  14603.7832
     Office Supplies  16803.8710  11883.4110  18972.3510   9770.3020
     Technology       22681.5400   9166.2500  11836.3730  29041.5760
2016 Furniture        19236.1933  13617.3510  20656.9330  30617.1725
     Office Supplies  13569.6950  20224.1880  15681.7440  26728.0640
     Technology        9179.2540  18426.6110  30498.9080  15608.9190
2017 Furniture        21929.7370  18086.3712  29817.7050  21422.8438
     Office Supplies  27957.2900  22220.1320  26949.7320  21875.5540
     Technology       24277.5810  25194.6590  32538.8030  13670.7980